@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto';
}
@media (min-width: 1280px) {
  /* format section start */
.format {
    margin-bottom: 216px;
}

.format-container {
    /* padding-left: 8vw; */
    max-width:1200px;
    margin: 0 auto;
    padding: 25px 16px
}

.format-header {
    margin-bottom: 120px;
}

.format-main {
    display: flex;
}

.format-main-box {
    margin-right: 108px;
}

.format-main h4 {
    color: #1E4681;
    margin-bottom: 15px;
    font-family: 'Roboto Slab';
}

.format-main-box p {
    font-size: 18px;
    width: 219px;
}

/* format section end */

/* knowladge section start */
.knowladge {
    margin-bottom: 225px;
}

.knowladge-container {
    /* padding-left: 8vw; */
    max-width:1200px;
    margin: 0 auto;
    padding: 25px 16px
}

.knowladge-header {
    margin-bottom: 50px;
}

.knowladge-main-content ul {
    width: 675px;
    padding-left: 30px;
    font-size: 24px;
}
}

@media (min-width: 800px) and (max-width: 1279px) {
    /* format section start */
    .format {
       margin-bottom: 160px;
   }

   .format-container {
       padding-left: 80px;
       max-width:1200px;
       margin: 0 auto;
    /* padding: 25px 16px; */
   }

   .format-header {
       margin-bottom: 56px;
   }


   .format-main-box {
       margin-bottom: 56px;
   }

   .format-main h4 {
       color: #1E4681;
       margin-bottom: 8px;
   }

   .format-main-box p {
       font-size: 11px;
       width: 170px;
       padding-right: 50px;
   }

   /* format section end */

   /* knowladge section start */
   .knowladge {
       margin-bottom: 157.5px;
   }

   .knowladge-container {
       padding-left: 80px;
       padding-left: 80px;
       max-width:1200px;
       margin: 0 auto;
   }

   .knowladge-header {
       margin-bottom: 56px;
   }

   .knowladge-main-content ul {
       width: 380px;
       padding-left: 5px;
       font-size: 14px;
       line-height: 150%;
   }

   /* knowladge section end */
}
@media (min-width: 500px) and (max-width: 799px) {

    /* format section start */
     .format {
         margin-bottom: 45px;
     }
 
     .format-container {
         padding-left: 24px;
         max-width:1200px;
         margin: 0 auto;
     /* padding: 25px 16px; */
     }
 
     .format-header {
         margin-bottom: 24px;
     }
 
     .format-main {
         display: flex;
     }
 
     .format-main-box {
         margin-right: 21px;
     }
 
     .format-main h4 {
         color: #1E4681;
         margin-bottom: 4px;
         font-family: 'Roboto Slab';
         font-size: 16px;
     }
 
     .format-main-box p {
         font-size: 10px;
         width: 180px;
     }
 
     /* format section end */
 
     /* knowladge section start */
     .knowladge {
         margin-bottom: 60px;
     }
 
     .knowladge-container {
       
         padding-left: 32px;
         max-width:1200px;
         margin: 0 auto;
     }
 
     .knowladge-header {
         margin-bottom: 15px;
     }
 
     .knowladge-main-content ul {
         width: 300px;
         padding-left: 8px;
         font-size: 12px;
     }
 
     /* knowladge section end */
 }